@page "/admin/admwelcome"
@layout ASM_C6.Components.Layout.AdminLayout
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<div style="margin: 0 auto">
    <h3>Hello. Welcome to my food management</h3>
</div>
