USE [master]
GO
/****** Object:  Database [NET106_ASM_FastFood]    Script Date: 03/08/2024 1:31:43 CH ******/
CREATE DATABASE [NET106_ASM_FastFood]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NET106_ASM_FastFood', FILENAME = N'D:\SQL server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NET106_ASM_FastFood.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NET106_ASM_FastFood_log', FILENAME = N'D:\SQL server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NET106_ASM_FastFood_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NET106_ASM_FastFood].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NET106_ASM_FastFood]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 03/08/2024 1:31:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[admins]    Script Date: 03/08/2024 1:31:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admins](
	[AdminCode] [uniqueidentifier] NOT NULL,
	[Email] [varchar](200) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[IsOnl] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[Level] [bit] NOT NULL,
 CONSTRAINT [PK_admins] PRIMARY KEY CLUSTERED 
(
	[AdminCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cartItems]    Script Date: 03/08/2024 1:31:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cartItems](
	[ItemId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CartId] [int] NOT NULL,
	[FoodCode] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_cartItems] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carts]    Script Date: 03/08/2024 1:31:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carts](
	[CartId] [int] NOT NULL,
	[CustomerEmail] [varchar](200) NOT NULL,
 CONSTRAINT [PK_carts] PRIMARY KEY CLUSTERED 
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comboDetails]    Script Date: 03/08/2024 1:31:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comboDetails](
	[Id] [int] NOT NULL,
	[FoodCode] [uniqueidentifier] NOT NULL,
	[ComboCode] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_comboDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[combos]    Script Date: 03/08/2024 1:31:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[combos](
	[ComboCode] [uniqueidentifier] NOT NULL,
	[ComboName] [nvarchar](300) NOT NULL,
	[CurrentPrice] [int] NOT NULL,
	[PreviousPrice] [int] NOT NULL,
	[Image] [varchar](max) NOT NULL,
	[ApplyDate] [datetime2](7) NOT NULL,
	[ExpDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_combos] PRIMARY KEY CLUSTERED 
(
	[ComboCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customerInformations]    Script Date: 03/08/2024 1:31:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customerInformations](
	[CInforId] [int] NOT NULL,
	[CustomerName] [nvarchar](500) NOT NULL,
	[PhoneNumber] [char](10) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[CustomerEmail] [varchar](200) NOT NULL,
 CONSTRAINT [PK_customerInformations] PRIMARY KEY CLUSTERED 
(
	[CInforId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 03/08/2024 1:31:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[Email] [varchar](200) NOT NULL,
	[PassWord] [varchar](100) NOT NULL,
	[UserName] [varchar](300) NOT NULL,
 CONSTRAINT [PK_customers] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[foodCategories]    Script Date: 03/08/2024 1:31:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[foodCategories](
	[FCategoryCode] [uniqueidentifier] NOT NULL,
	[CategoryName] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_foodCategories] PRIMARY KEY CLUSTERED 
(
	[FCategoryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[foods]    Script Date: 03/08/2024 1:31:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[foods](
	[FoodCode] [uniqueidentifier] NOT NULL,
	[FoodName] [nvarchar](300) NOT NULL,
	[CurrentPrice] [int] NOT NULL,
	[PreviousPrice] [int] NOT NULL,
	[Left] [int] NOT NULL,
	[Sold] [int] NOT NULL,
	[Image] [varchar](max) NOT NULL,
	[FCategoryCode] [uniqueidentifier] NOT NULL,
	[AdminCode] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_foods] PRIMARY KEY CLUSTERED 
(
	[FoodCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[guests]    Script Date: 03/08/2024 1:31:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[guests](
	[GuesId] [int] NOT NULL,
	[GuestName] [nvarchar](500) NOT NULL,
	[PhoneNumber] [char](10) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[OrderCode] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_guests] PRIMARY KEY CLUSTERED 
(
	[GuesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orderItems]    Script Date: 03/08/2024 1:31:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderItems](
	[ItemId] [int] NOT NULL,
	[UnitPrice] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[OrderCode] [uniqueidentifier] NOT NULL,
	[FoodCode] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_orderItems] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 03/08/2024 1:31:43 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[OrderCode] [uniqueidentifier] NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[State] [nvarchar](100) NOT NULL,
	[DeliveryDate] [datetime2](7) NULL,
	[Comment] [nvarchar](max) NULL,
	[PaymentMethod] [nvarchar](100) NOT NULL,
	[Total] [int] NOT NULL,
	[CInforId] [int] NOT NULL,
	[CustomerEmail] [varchar](200) NOT NULL,
 CONSTRAINT [PK_orders] PRIMARY KEY CLUSTERED 
(
	[OrderCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_cartItems_CartId]    Script Date: 03/08/2024 1:31:43 CH ******/
CREATE NONCLUSTERED INDEX [IX_cartItems_CartId] ON [dbo].[cartItems]
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_cartItems_FoodCode]    Script Date: 03/08/2024 1:31:43 CH ******/
CREATE NONCLUSTERED INDEX [IX_cartItems_FoodCode] ON [dbo].[cartItems]
(
	[FoodCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_carts_CustomerEmail]    Script Date: 03/08/2024 1:31:43 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_carts_CustomerEmail] ON [dbo].[carts]
(
	[CustomerEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_comboDetails_ComboCode]    Script Date: 03/08/2024 1:31:43 CH ******/
CREATE NONCLUSTERED INDEX [IX_comboDetails_ComboCode] ON [dbo].[comboDetails]
(
	[ComboCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_comboDetails_FoodCode]    Script Date: 03/08/2024 1:31:43 CH ******/
CREATE NONCLUSTERED INDEX [IX_comboDetails_FoodCode] ON [dbo].[comboDetails]
(
	[FoodCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_customerInformations_CustomerEmail]    Script Date: 03/08/2024 1:31:43 CH ******/
CREATE NONCLUSTERED INDEX [IX_customerInformations_CustomerEmail] ON [dbo].[customerInformations]
(
	[CustomerEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_foods_AdminCode]    Script Date: 03/08/2024 1:31:43 CH ******/
CREATE NONCLUSTERED INDEX [IX_foods_AdminCode] ON [dbo].[foods]
(
	[AdminCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_foods_FCategoryCode]    Script Date: 03/08/2024 1:31:43 CH ******/
CREATE NONCLUSTERED INDEX [IX_foods_FCategoryCode] ON [dbo].[foods]
(
	[FCategoryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_guests_OrderCode]    Script Date: 03/08/2024 1:31:43 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_guests_OrderCode] ON [dbo].[guests]
(
	[OrderCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_orderItems_FoodCode]    Script Date: 03/08/2024 1:31:43 CH ******/
CREATE NONCLUSTERED INDEX [IX_orderItems_FoodCode] ON [dbo].[orderItems]
(
	[FoodCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_orderItems_OrderCode]    Script Date: 03/08/2024 1:31:43 CH ******/
CREATE NONCLUSTERED INDEX [IX_orderItems_OrderCode] ON [dbo].[orderItems]
(
	[OrderCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_orders_CustomerEmail]    Script Date: 03/08/2024 1:31:43 CH ******/
CREATE NONCLUSTERED INDEX [IX_orders_CustomerEmail] ON [dbo].[orders]
(
	[CustomerEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cartItems]  WITH CHECK ADD  CONSTRAINT [FK_cartItems_carts_CartId] FOREIGN KEY([CartId])
REFERENCES [dbo].[carts] ([CartId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cartItems] CHECK CONSTRAINT [FK_cartItems_carts_CartId]
GO
ALTER TABLE [dbo].[cartItems]  WITH CHECK ADD  CONSTRAINT [FK_cartItems_foods_FoodCode] FOREIGN KEY([FoodCode])
REFERENCES [dbo].[foods] ([FoodCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cartItems] CHECK CONSTRAINT [FK_cartItems_foods_FoodCode]
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD  CONSTRAINT [FK_carts_customers_CustomerEmail] FOREIGN KEY([CustomerEmail])
REFERENCES [dbo].[customers] ([Email])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[carts] CHECK CONSTRAINT [FK_carts_customers_CustomerEmail]
GO
ALTER TABLE [dbo].[comboDetails]  WITH CHECK ADD  CONSTRAINT [FK_comboDetails_combos_ComboCode] FOREIGN KEY([ComboCode])
REFERENCES [dbo].[combos] ([ComboCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[comboDetails] CHECK CONSTRAINT [FK_comboDetails_combos_ComboCode]
GO
ALTER TABLE [dbo].[comboDetails]  WITH CHECK ADD  CONSTRAINT [FK_comboDetails_foods_FoodCode] FOREIGN KEY([FoodCode])
REFERENCES [dbo].[foods] ([FoodCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[comboDetails] CHECK CONSTRAINT [FK_comboDetails_foods_FoodCode]
GO
ALTER TABLE [dbo].[customerInformations]  WITH CHECK ADD  CONSTRAINT [FK_customerInformations_customers_CustomerEmail] FOREIGN KEY([CustomerEmail])
REFERENCES [dbo].[customers] ([Email])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[customerInformations] CHECK CONSTRAINT [FK_customerInformations_customers_CustomerEmail]
GO
ALTER TABLE [dbo].[foods]  WITH CHECK ADD  CONSTRAINT [FK_foods_admins_AdminCode] FOREIGN KEY([AdminCode])
REFERENCES [dbo].[admins] ([AdminCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[foods] CHECK CONSTRAINT [FK_foods_admins_AdminCode]
GO
ALTER TABLE [dbo].[foods]  WITH CHECK ADD  CONSTRAINT [FK_foods_foodCategories_FCategoryCode] FOREIGN KEY([FCategoryCode])
REFERENCES [dbo].[foodCategories] ([FCategoryCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[foods] CHECK CONSTRAINT [FK_foods_foodCategories_FCategoryCode]
GO
ALTER TABLE [dbo].[guests]  WITH CHECK ADD  CONSTRAINT [FK_guests_orders_OrderCode] FOREIGN KEY([OrderCode])
REFERENCES [dbo].[orders] ([OrderCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[guests] CHECK CONSTRAINT [FK_guests_orders_OrderCode]
GO
ALTER TABLE [dbo].[orderItems]  WITH CHECK ADD  CONSTRAINT [FK_orderItems_foods_FoodCode] FOREIGN KEY([FoodCode])
REFERENCES [dbo].[foods] ([FoodCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[orderItems] CHECK CONSTRAINT [FK_orderItems_foods_FoodCode]
GO
ALTER TABLE [dbo].[orderItems]  WITH CHECK ADD  CONSTRAINT [FK_orderItems_orders_OrderCode] FOREIGN KEY([OrderCode])
REFERENCES [dbo].[orders] ([OrderCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[orderItems] CHECK CONSTRAINT [FK_orderItems_orders_OrderCode]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_customers_CustomerEmail] FOREIGN KEY([CustomerEmail])
REFERENCES [dbo].[customers] ([Email])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_customers_CustomerEmail]
GO
USE [master]
GO
